<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../" method="post">
        {% csrf_token %}
        <h3>Student Management System</h3>
        <input type="text" name="name" id="" placeholder="name">
        <input type="number" name="age" id="" placeholder="age">
        <input type="email" name="email" id="" placeholder="email">
        <select name="dname" id="">
            <option selected disabled>----select your department----</option>
            {% for i in dnames %}
            <option value="{{i.pk}}">{{i.dname}}</option>
            {% endfor %}
            </select>
            <input type="submit" value="submit">
            </form>
</body>
</html>