<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
    {% csrf_token %}
    <input type="number" name="amount" id="" placeholder="enter your salary">
    <input type="number" name="year" id="" placeholder="enter your year of work">
    <input type="submit" value="submit">
    </form>
    {{money}}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="number" name="current" id="" placeholder="enter ur electricity unit">
        <input type="submit" value="submit">
    </form>
    {{data}}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="number" name="days" id="" placeholder="enter any of 1-7">
        <input type="submit" value="submit">
    </form>
    {{data}}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="monument" id="" placeholder="enter your city">
        <input type="submit" value="submit">
    </form>
    {{data}}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="number" id="" name="divisible" placeholder="enter your number">
        <input type="submit" value="submit">
    </form>
    {{data}}
</body>
</html>